.footer-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: black;
    color: #ffffff;
    width: 100%;
}